html,
body,
#root,
.App {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  overflow: auto;
}
.App {
  background-color: var(--bg-100);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: white;
  width: 60%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > * {
  flex: 1 1 auto;
}
.swipe-btn-wrapper {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
}

/*TOAST*/
.toast-wrapper ul {
  list-style: none;
  padding: 0;
}
.toast-notif {
  width: 100%;
  display: block;
  position: relative;
  padding: 0.5rem 0;
  margin: 1rem 0;
}
.toast-notif > p {
  margin: 0.5rem;
}
.close-toast-notif-btn {
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  right: 0;
  border: none;
  outline: none;
}
.close-toast-notif-btn:hover {
  cursor: pointer;
}
.toast-notif--success {
  color: white;
  background-color: rgb(10, 153, 10);
}
.toast-notif--error {
  color: white;
  background-color: rgb(228, 26, 26);
}
.toast-notif--info {
  color: black;
  background-color: rgb(223, 186, 64);
}

/*MultiRange*/
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.multirange-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30px;
}
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.thumb {
  position: absolute;
  height: 0;
  width: 100%;
  pointer-events: none;
}
.thumb::-webkit-slider-thumb {
  background-color: green;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.534);
  cursor: pointer;
  pointer-events: all;
}
.thumb:focus::-webkit-slider-thumb {
  outline: 2px solid black;
}
.slider {
  width: 100%;
  position: relative;
}
.slider-track,
.slider-range {
  position: absolute;
  height: 5px;
}
.slider-track {
  width: 100%;
  background-color: grey;
}
.slider-range {
  background-color: greenyellow;
  z-index: 2;
}
.slider-right-value,
.slider-left-value {
  position: absolute;
  margin-top: 0.7rem;
}
.slider-left-value {
  left: 0%;
}
.slider-right-value {
  right: 0%;
}

/*PopupButton*/
.popupbutton-wrapper {
  position: relative;
}
.popupbutton-popup {
  position: absolute;
}
.test {
  width: fit-content;
  background-color: red;
}
